@model IEnumerable<NewMusicApp.Models.Genre>

@{
    ViewBag.Title = "Genres";
}

<h2>Genres</h2>
<hr />
<p>
    <a asp-controller="Genres" asp-action="Create" class="btn btn-danger">Create New</a>
    <a asp-controller="Home" asp-action="Index" class="btn btn-default">Return to Homepage</a>
</p>

<table class="table">
    <tr>
        <th>Name</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td><a asp-action="Listing" asp-route-id="@item.GenreID">@Html.DisplayFor(modelItem => item.Name)</a></td>
        </tr>
    }
</table>