@model IEnumerable<NewMusicApp.Models.Album>
@{
    ViewData["Title"] = "Artist Details";
}
<h2>Details</h2>
<div class="row">
    <label class="col-md-2">Artist Name: </label>
    <div class="col-md-10">@ViewBag.ArtistName</div>
</div>
<div class="row">
    <label class="col-md-2">Artist Biography: </label>
    <div class="col-md-10">@ViewBag.ArtistBio</div>
</div>
<div class="row">
    <label class="col-md-2">Albums: </label>
    @foreach(var item in Model)
    {
    <div class="col-md-10">@item.Title</div>
    }
</div>
<div><a href="/Artists" class="btn btn-default" formnovalidate>Return to List</a></div>