@{
    ViewData["Title"] = "Home Page";
}

<h1 class="jumbotron">NEW Music Application</h1>
<div>
    <a href="/Albums" class="btn btn-info">Albums</a>
    <a href="/Artists" class="btn btn-success">Artists</a>
    <a href="/Genres" class="btn btn-danger">Genres</a>
    <a href="/Playlists" class="btn btn-warning">Playlists</a>
</div>