@model IEnumerable<NewMusicApp.Models.Album>

@{
    ViewBag.Title = "Albums in Playlist";
}
<h2>Albums in Playlist "@ViewBag.Playlist"</h2>
<hr />
<div>
    @foreach (var item in Model)
    {
        <div>@item.Title</div>
    }
</div>
<div>
    <a href="/Albums" class="btn btn-info">Add an Album</a>
    <a href="/Playlists" class="btn btn-default">Return to List</a>
</div>